					 		
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheet/jquery.orgchart.css" type="text/css">
    <link rel="stylesheet" href="../stylesheet/style.css" type="text/css">		 
		
<px-card header-text="tree chart">
<div id="chart-container"></div>
</px-card>

		<script type="application/javascript" src="../scripts/jquery-1.12.0.min.js"></script>
	   <script type="application/javascript" src="../scripts/jquery.orgchart.js"></script>
	  <script type="application/javascript" src="../scripts/scripts.js"></script> 