<div id="viewUpload1" class="tab-content" style="width:100%">
  <px-card header-text="Upload History (processed)">
   
  <table id="processed" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
				<!-- <th>Upload ID</th> -->
				<th>Name</th>
				<th width="20%">Date</th>
				<th>Upload By</th>
				<th>Total Rows</th>
                <th>Total Rows Passed</th>
                <th>Total Row Failed</th>
				<th>Log</th> 
            </tr>
        </thead>
    </table>
	</px-card>
	
	<br/><br/>
	
	<px-card header-text="Upload History (Pending)">
	<table id="notprocessed" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <!-- <th>Upload ID</th> -->
				<th>Name</th>
				<th width="20%">Date</th>
				<th>Upload By</th>
            </tr>
        </thead>
    </table>
	</px-card>
</div>